<% include header.ejs %>

<div class="main">
<section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1 class="module-title font-alt mb-0">Login-Register</h1>
</div>
</div>
</div>
</section>
<section class="module">
<div class="container">
<div class="row">
<div class="col-sm-5 col-sm-offset-1 mb-sm-40">
<h4 class="font-alt">Login</h4>
<hr class="divider-w mb-10">
<form class="form" action="/login" method="post">
<div class="form-group">
<input class="form-control" id="username" type="text" name="email" placeholder="email" autocorrect="off" autocapitalize="none" required/>
</div>
<div class="form-group">
<input class="form-control" id="password" type="password" name="password" placeholder="Password" required/>
</div>
<div class="form-group">
<button class="btn btn-round btn-b">Login</button>
</div>
<div class="form-group"><a href="">Forgot Password?</a></div>
</form>
</div>
<div class="col-sm-5">
<h4 class="font-alt">Register</h4>
<hr class="divider-w mb-10">
<form class="form" action="/register" method="post">
<div class="form-group">
<input class="form-control" id="email" type="email" name="email" placeholder="Email" required/>
</div>
<div class="form-group">
<!--<input class="form-control" id="username" type="text" name="username" placeholder="Username" required/>
</div>-->
<div class="form-group">
<input class="form-control" id="password" type="password" name="password" placeholder="Password" required/>
</div>
<!--<div class="form-group">
<input class="form-control" id="re-password" type="password" name="re-password" placeholder="Re-enter Password" required/>
</div>
<div class="form-group">
<input class="form-control" id="p1" type="text" name="first_name" placeholder="first-name" required/>
</div>
<div class="form-group">
<input class="form-control" id="p2" type="text" name="middle_name" placeholder="middle-name" />
</div>
<div class="form-group">
<input class="form-control" id="p7" type="text" name="last_name" placeholder="last-name" required/>
</div>
<div class = "form-group">
<input class="form-control"id="p3" type="number" name="mobilenumber" placeholder="mobile number" required min='7000000000' max='9999999999'/>
</div>
<div class="form-group">
<input class="form-control"id="p5" type="number" name="aadhar_number" placeholder="AadharNumber" required min='100000000000' max= '999999999999'/>
</div>
<div class="form-group">
<input class="form-control" id="p1" type="textbox" name="address1" placeholder="Address Line1" required/>
</div>
<div class="form-group">
<input class="form-control" id="p1" type="textbox" name="address2" placeholder="Address Line2" />
</div>
<div class = "form-group">
<input class = "form-control" type ="text" name="city" placeholder="City" required  title="Please enter your city"><br>
  <input class = "form-control" type ="text" name="district" placeholder="District" required  title="Please enter your district"><br>
  <input class = "form-control"type="text" name="state" placeholder="State" required><br>
  <input class = "form-control" type="phone" name="pincode" placeholder="Pin Code" required  title="Please enter the valid 6 digit Pin Code of your area"><br>
  <input class = "form-control"type="number" name="wardNo" placeholder = "wardNo"required>
</div>    
<div class="form-group">
<input class="form-control" id="p1" type="text" name="profession" placeholder="profession" required/>
</div>
Gender:-
<div class = "form-group">
<input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other
</div>    -->
<div class="form-group">
<button class="btn btn-block btn-round btn-b">Register</button>
</div>
</form>
</div>
</div>
</div>
</section>
<%include footer.ejs %>
</body>
</html>
