<section class="module bg-dark-30 about-page-header" data-background="assets/images/about_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Government Posts/Decisions</h1>
            </div>
        </div>
    </div>
</section>
